<div class="container-fluid">
  <h4 class="page-title">用户管理</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">小程序用户列表</div>
        </div>
        <div class="card-body table-responsive" style="height: 500px;">
          <table class="table table-head-bg-success table-hover table-condensed text-nowrap">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">昵称</th>
                <th scope="col">openid</th>
                <th scope="col">年龄</th>
                <th scope="col">城市</th>
                <th scope="col">手机</th>
                <th scope="col">操作</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i=0; i<customers.length; i++) {%>
              <tr>
                <td><%= i+1%></td>
                <td><%= customers[i].nickname%></td>
                <td><%= customers[i].openid%></td>
                <td><%= customers[i].age%></td>
                <td><%= customers[i].city%></td>
                <td><%= customers[i].phone%></td>
                <td>
                  <button type="button" class="btn btn-primary"
                    onclick="modifyRow(<%= JSON.stringify(customers[i])%>)">修改</button>
                  <button type="button" class="btn btn-warning"
                    onclick="deleteRow('<%= customers[i].openid%>')">删除</button> </td>
              </tr>
              <% }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-warning" onclick="generateExcel()">导出excel</button>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modify">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改客户信息</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nickname">昵称</label>
            <input type="text" class="form-control" id="nickname" placeholder="">
          </div>
          <div class="form-group">
            <label for="openid">openid</label>
            <input type="text" class="form-control" id="openid" placeholder="">
          </div>
          <div class="form-group">
            <label for="age">年龄</label>
            <input type="number" class="form-control" id="age" placeholder="">
          </div>
          <div class="form-group">
            <label for="city">城市</label>
            <input type="text" class="form-control" id="city" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">手机</label>
            <input type="number" class="form-control" id="phone" placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消更改</button>
        <button type="button" class="btn btn-primary" onclick="saveChange()">保存更改</button>
      </div>
    </div>
  </div>
</div>
<script>
  function modifyRow(json) {
    $('#nickname').val(json.nickname);
    $('#openid').val(json.openid);
    $('#age').val(json.age);
    $('#city').val(json.city);
    $('#phone').val(json.phone);
    $('#modify').modal('show');
  }
  function deleteRow(openid) {
    $.ajax({
      url: '/customer/' + openid,
      type: 'DELETE',
      contentType: 'application/json',
      success: function (res) {
        console.log(res);
        alert('删除成功');
        window.location.reload();
      }
    })
  }
  function generateExcel() {
    var table = 'customer';
    $.get('/gen_xlsx?table=' + table, function (data) {
      console.log(data);
      alert('即将下载');
      setTimeout(function () {
        window.location.href = 'https://hm.fujifilm.com.cn/xlsx/' + data.file_path;
      }, 4000);
    })
  }
  function saveChange() {
    var openid = $('#openid').val();
    var form = {
      nickname: $('#nickname').val(),
      age: $('#age').val(),
      city: $('#city').val(),
      phone: $('#phone').val()
    }
    console.log(form);
    $.post('/customer/' + openid, form, function (data, status) {
      if (data.status == 'ok') {
        alert('修改成功！');
        setTimeout(function () {
          window.location.reload();
        }, 1000);
      }
    })
  }
  $(function () {
  })
</script>