<div class="container-fluid">
  <h4 class="page-title">订单管理</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">订单列表</div>
        </div>
        <div class="card-body table-responsive" style="height: 500px;">
          <table class="table table-head-bg-success table-hover table-condensed text-nowrap">
            <thead>
            <tr>
              <th scope="col">订单号</th>
              <th scope="col">商品名</th>
              <th scope="col">用户ID</th>
              <th scope="col">用户昵称</th>
              <th scope="col">状态</th>
              <th scope="col">发票ID</th>
              <th scope="col">马匹信息</th>
              <th scope="col">收货地址</th>
              <th scope="col">总价</th>
              <th scope="col">创建时间</th>
              <th scope="col">更新时间</th>
              <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<orders.length; i++) {%>
            <% if(orders[i].address.length >0 || orders[i].horses.length>0){%>
            <% var count = orders[i].address.length>=orders[i].horses.length?orders[i].address.length:orders[i].horses.length;%>
            <% for(var j=0; j<count; j++){%>
            <tr>
              <td><%= orders[i].id%></td>
              <td><%= orders[i].productId%></td>
              <td><%= orders[i].customerId%></td>
              <td><%= orders[i].customer[0].nickname%></td>
              <td><%= orders[i].status%></td>
              <td><%= orders[i].invoiceId%></td>
              <td>
                <%= orders[i].horses[j]?orders[i].horses[j]:'无马匹信息'%>
              </td>
              <td>
                <%= orders[i].address[j]?orders[i].address[j]:'无地址信息'%>
              </td>
              <td><%= orders[i].total%></td>
              <td><%= orders[i].createTime%></td>
              <td><%= orders[i].updateTime%></td>
              <td>
                <button type="button" class="btn btn-danger" onclick="deleteOrder('<%= orders[i].vid%>')">删除</button>
                <button type="button" class="btn btn-primary" onclick="modifyRow(<%= JSON.stringify(orders[i])%>)">修改</button>
                <button type="button" class="btn btn-success" onclick="addReport(<%= JSON.stringify(orders[i])%>)">报告</button>
              </td>
            </tr>
            <% }%>
            <% } else {%>
            <tr>
              <td><%= orders[i].id%></td>
              <td><%= orders[i].productId%></td>
              <td><%= orders[i].customerId%></td>
              <td><%= orders[i].customer[0].nickname%></td>
              <td><%= orders[i].status%></td>
              <td><%= orders[i].invoiceId%></td>
              <td>
                无马匹信息
              </td>
              <td>
                无地址信息
              </td>
              <td><%= orders[i].total%></td>
              <td><%= orders[i].createTime%></td>
              <td><%= orders[i].updateTime%></td>
              <td>
                <button type="button" class="btn btn-danger" onclick="deleteOrder('<%= orders[i].vid%>')">删除</button>
                <button type="button" class="btn btn-primary" onclick="modifyRow(<%= JSON.stringify(orders[i])%>)">修改</button>
                <button type="button" class="btn btn-success" onclick="addReport(<%= JSON.stringify(orders[i])%>)">报告</button>
              </td>
            </tr>
            <% }%>
            <% }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-warning" onclick="generateExcel()">导出excel</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="add-report">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form enctype="multipart/form-data" id="report-file" action="/upload_report" method="POST">
        <input type="hidden" id="report-order-id" name="orderId">
        <input type="hidden" id="report-customer-id" name="openid">
        <input type="hidden" id="report-address-id" name="addressId">
        <input type="hidden" id="report-file-array" name="file_array">
      <div class="modal-header">
        <h4 class="modal-title">增加报告</h4>
      </div>
      <div class="modal-body">
        <div id="file-container">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消更改</button>
        <button type="submit" class="btn btn-primary">保存更改</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modify">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改订单信息</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nickname">订单号</label>
            <input type="text" class="form-control" id="order-id" placeholder="">
          </div>
          <div class="form-group">
            <label for="openid">商品名</label>
            <input type="text" class="form-control" id="product-id" placeholder="">
          </div>
          <div class="form-group">
            <label for="age">用户ID</label>
            <input type="text" class="form-control" id="customer-id" placeholder="">
          </div>
          <div class="form-group">
            <label for="city">订单状态</label>
            <select id="order-status">
              <option value="待支付">待支付</option>
              <option value="已支付">已支付</option>
              <option value="服务中">服务中</option>
              <option value="待报告">待报告</option>
              <option value="已报告">已报告</option>
              <option value="报告已发送">报告已发送</option>
              <option value="订单已完成">订单已完成</option>
            </select>
          </div>
          <div class="form-group">
            <label for="phone">发票ID</label>
            <input type="text" class="form-control" id="invoice-id" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">马匹ID</label>
            <input type="text" class="form-control" id="horse-id" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">总价</label>
            <input type="number" class="form-control" id="total" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">创建时间</label>
            <input type="text" class="form-control" id="create-time" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">更新时间</label>
            <input type="text" class="form-control" id="update-time" placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消更改</button>
        <button type="button" class="btn btn-primary" onclick="saveChange()">保存更改</button>
      </div>
    </div>
  </div>
</div>
<script>
  function addReport(json) {
    console.log(json);
    var tpl = '<div class="form-group">'+
              '<label for="nickname">上传报告: param0</label>'+
              '<input type="file" class="form-control" placeholder="" name="report_param0">'+
              '</div>';
    var p_list = JSON.parse(json.productId);
    var a_list = JSON.parse(json.amount);
    var h_list = json.horses;
    var html = '';
    var file_array = [];
    for(var i=0; i<p_list.length; i++) {
        for(var j=0; j<a_list[i]; j++){
            var horse_name = h_list[j].name;
            var tpl_0 = tpl.replace(/param0/g, p_list[i]+'_'+j+'_'+horse_name);
            file_array.push(p_list[i]+'_'+j+'_'+horse_name);
            html += tpl_0;
        }
    }
    console.log(file_array);
    $('#file-container').html(html);
    $('#report-order-id').val(json.id);
    $('#report-customer-id').val(json.customerId);
    $('#report-file-array').val(JSON.stringify(file_array));
    $('#add-report').modal('show');
  }
  function saveReport() {
    var form = {
        link: $('#report').val(),
        orderId: $('#order-id').val(),
        customerId: $('#customer-id').val()
    };
    var form_data = new FormData();
    $.ajax({
      url: '/report/file',
      type: 'post',
      data: form_data,
      cache: false,
      processData: false,
      contentType: false,
      success: function (res) {
        console.log(res);
      }
    })
    $.post("/report", form, function (data, status) {
        console.log(data);
        if (data.message == 'ok') {
            alert('添加报告成功!');
            window.location.reload();
        }
    })
  }
  function modifyRow(json) {
    console.log(json);
    $('#order-id').val(json.id);
    $('#product-id').val(json.productId);
    $('#customer-id').val(json.customerId);
    $('#order-status').val(json.status);
    $('#invoice-id').val(json.invoiceId);
    $('#horse-id').val(json.horseId);
    $('#total').val(json.total);
    $('#create-time').val(json.createTime);
    $('#update-time').val(json.updateTime);
    $('#modify').modal('show');
  }
  function deleteOrder(id) {
    $.ajax({
      url: '/order/'+id,
      type: 'DELETE',
      contentType: 'application/json',
      success: function (res) {
        console.log(res);
        alert('删除成功！');
        setTimeout(function () {
          window.location.reload();
        }, 2000);
      }
    })
  }
  function generateExcel() {
    var table = 'order';
    $.get('/gen_xlsx?table='+table, function (data) {
      console.log(data);
      alert('即将下载');
      setTimeout(function () {
        window.location.href = 'https://hm.fujifilm.com.cn/xlsx/'+data.file_path;
      }, 4000);
    })
  }
  function saveChange() {
    var id = $('#order-id').val();
    var form = {
        id: $('#order-id').val(),
        productId: $('#product-id').val(),
        cutomerId: $('#customer-id').val(),
        status: $('#order-status').val(),
        invoiceId: $('#invoice-id').val(),
        horseId: $('#horse-id').val(),
        total: $('#total').val(),
        createTime: $('#create-time').val(),
        updateTime: $('#update-time').val()
    };
    console.log(form);
    $.post('/order/'+id, form, function (data, status) {
      if (data.status == 'ok') {
          alert('修改成功！');
          setTimeout(function () {
            window.location.reload();
          }, 1000);
      }
    })
  }
</script>
<script>
  function getParams(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
  }
  $(function () {
    if (typeof getParams('orderId') != 'undefined') {
        var orders = '<%= JSON.stringify(orders)%>'
        console.log(orders);
    }
  })
</script>
